# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/

# Ignore environment variables (API keys, secrets)
.env

# Ignore uploads (images saved from app)
static/uploads/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Docker build cache
.dockerignore
